/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f0f0f0;
    position: relative;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.logo {
    text-align: center;
}

.animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffcc33, #ff66cc, #66ccff, #ccff33);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.intro h2 {
    margin-top: 0;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
footer {
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

footer p {
    margin: 0;
}
